.Drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  pointer-events: none;
  opacity: 0;
  z-index: -1;

  transition: all 0.3s ease-out;
  transition-property: opacity, z-index;
  display: flex;
  align-items: center;
}

.sheet {
  z-index: var(--modal-z-index);
  position: fixed;
  left: 2vw;
  height: calc(100vh + 100px);
  width: 96vw;
  border-radius: 12px 12px 0;
  touch-action: none;
  padding: 15px;
}
.opened {
  opacity: 1;
  pointer-events: all;
  z-index: var(--modal-z-index);

  .content {
    transform: translateY(0%);
  }
}

.drawerNew {
  .sheet {
    background: var(--light-bg-redesigned);
  }
}
.drawerOld {
  .sheet {
    background: var(--bg-color);
  }
}
