.MobileSidebar {
  background: var(--light-bg-redesigned);
  width: 220px;
  height: 100%;
  border-radius: 32px;
  position: absolute;
  left: 0;
  top: 0;
  transition: all ease-in-out 0.3s;
}
.mobileAppLogo {
  padding-top: 30px;
}
.mobileItems {
  margin-top: 40px;
  opacity: 1;
}
.mobileCollapsedBtn {
  background: var(--light-bg-redesigned);
  position: absolute;
  right: -32px;
  top: 50%;
  transform: rotate(90deg);
}

.mobileSwitchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

.mobileCollapsed {
  .mobileCollapsedBtn {
    transform: rotate(-90deg);
  }
}

@media (width < 426px) {
  .mobileCollapsed {
    width: 220px;
    left: -220px;
  }
}
