.app_dark_theme {
  --bg-color: #05225f;
  --inverted-bg-color: #c4d0e9;

  --primary-color: rgb(26, 170, 26);
  --secondary-color: rgb(21, 94, 21);
  --inverted-primary-color: rgb(30, 61, 128);
  --inverted-secondary-color: rgb(0, 123, 224);

  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  --code-bg: #5871a7;
}
