.app_light_theme {
  --bg-color: #c4d0e9;
  --inverted-bg-color: #05225f;

  --primary-color: rgb(62, 98, 197);
  --secondary-color: rgb(30, 61, 128);
  --inverted-primary-color: rgb(26, 170, 26);
  --inverted-secondary-color: rgb(21, 94, 21);

  --skeleton-color: #ffffff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  --code-bg: #fff;
}
