.app.light {
  --bg-color: #c4d0e9;
  --inverted-bg-color: #05225f;

  --primary-color: rgb(30, 61, 128);
  --secondary-color: rgb(62, 98, 197);
  --inverted-primary-color: rgb(21, 94, 21);
  --inverted-secondary-color: rgb(26, 170, 26);
}
