.RetractablePanel {
  background: var(--light-bg-redesigned);
  width: 220px;
  border-radius: 32px;
  position: fixed;
  padding: 4px;
  top: 0;
  transition: all ease-in-out 0.3s;

  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

.fullHeight {
  height: 100%;
}

.left {
  .btnToRetract {
    background: var(--light-bg-redesigned);
    position: absolute;
    right: -32px;
    top: 50%;
    transform: rotate(90deg);
  }
}

.right {
  .btnToRetract {
    background: var(--light-bg-redesigned);
    position: absolute;
    left: -32px;
    top: 50%;
    transform: rotate(-90deg);
  }
}
.right.retracted {
  width: 220px;
  right: -220px;
  .btnToRetract {
    transform: rotate(90deg);
  }
}

.left.retracted {
  width: 220px;
  left: -220px;
  .btnToRetract {
    transform: rotate(-90deg);
  }
}
